<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">George's Blog</h1>
    <p class="lead">This is a Demo App to test Rails 6, Bootstrap and from the ground up code.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>



