<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "George Cruz Deschamps", "https://linkedin.com/in/dev-georgecd", class: "text-white" %></small>
  </div>
</footer>